<% layout('partials/boilerplate') %>
<div class="row py-2">
    <div class="col-lg-7">
        <div class="card">
            <img src="/img.png" class="img-fluid" height="300px" width='auto' alt="...">
            <div class="card-body">
                <h4 class="card-title"><%= campground.title %> </h4>
                <h5 class="card-text text-start">We are located at <%= campground.location.city %>, <%= campground.location.state %>, <%= campground.location.zip %> </h5>
                <h6 class="card-text text-start">Price per night stay: $ <%= campground.price %> </h6>
                <p class="card-text text-start"><%= campground.description %> </p>
                <div class="card-body py-2 border">
                    <h6>Contacts</h6>
                    <p class="card-text text-start">Tel.: <%= campground.contacts.tel %> </p>
                    <p class="card-text text-start">Email: <%= campground.contacts.email %> </p>
                    <p class="card-text text-start">Website: <%= campground.contacts.website %> </p>
                </div>
                <div class="list-group list-group-horizontal-lg justify-content-evenly mx-auto mt-3">
                       <% if (currentUser && currentUser.id === campground.owner.id) { %> 
                    <a href="/campgrounds/<%= campground.id %>/edit" class="btn btn-primary my-2">Edit Campground</a>
                    <a href="/campgrounds" class="btn btn-primary my-2">Back to all Campgrounds</a>
                    <form action="/campgrounds/<%= campground.id %>?_method=DELETE" method="post" class="my-2">
                        <button type="submit" class="btn btn-primary" style="width: -webkit-fill-available">Delete</button>    
                    </form>
                    <% } else { %> 
                        <a href="/campgrounds" class="btn btn-primary">Back to all Campgrounds</a>
                    <% }%>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
    </div>
  </div>